*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.boxFeature{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 10px ;
    width: 400px;
}

.boxIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    background: linear-gradient(135deg,#0061f2 0%,rgba(105,0,199,.8) 100%);
}

.boxIcon svg{
    color: white;
    font-size: 28px;
}

.boxFeature h3{
    font-weight: 500;
    font-size: 20px;
}

.boxFeature p{
    color: rgb(101, 101, 101);
    font-weight: 500;
    
}